{:compiler-options {:main frereth.apps.log-viewer.frontend.core
                    ;; Q: Why do I need no / here, but / for worker?
                    ;; Initial guess: for worker, we don't want to load
                    ;; relative to main.out.
                    ;; No idea why the leading slash breaks things here though.
                    :asset-path "js/main.out"
                    :parallel-build true
                    :preloads [devtools.preload]
                    :external-config {:devtools/config {:features-to-install [:formatters :hints]}}
                    ;; Node deps test
                    ; :install-deps true
                    ; :process-shim true
                    ; :npm-deps {:react "15.6.1"
                    ;            :react-dom "15.6.1"
                    ;            :create-react-class "15.5.3"}
                    }}
